:root{font-size:2.65vmin;}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	line-height:1em;
	-webkit-tap-highlight-color:transparent;
}

@font-face {
    font-family: 'poppins';
    src: url('Poppins-Regular.woff') format('woff');
}

@font-face {
    font-family: 'mouw';
    font-style: normal;
    font-weight: normal;
    src: url(Mouw-PK9er.woff) format(woff);
}

body{
/*  position:absolute;
  top:0;bottom:0;
  left:0;right:0;
	overflow: hidden;
	height:100vh;*/
	
  
}

.container{
 /* width: 100vw;
  height: 100vh;*/
  position:absolute;
  bottom: 0;top:0;
  left:0;right:0;
  background: linear-gradient(
		to top right,
		red 30%,white,
		royalblue 70%
	);
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	padding:2vw;
	overflow: hidden;
}

.container.a > div{
  display:none;
}

div.install{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  font-family: 'poppins', sans-serif;
  color:black;
  padding:5vw 2vw;
 /* position: absolute;
  top:0;bottom: 0;
  left:0;right: 0;*/
}

.install img{
  margin-bottom:7vw;
}

.install button{
  width:30vw;
  padding: 2vw;
  border-radius: 1em 1em 1em 1em;
  border:2px solid black;
  background:royalblue;
  color:white;
  box-shadow: 0 .2em 0 rgba(0,0,0,0.3);
  font-weight: bold;
}

.install button.a:after{
  content: "";
  -webkit-animation: loading 2s ease infinite;
}

@-webkit-keyframes loading{
  0%{
    content: "";
  }
  33%{
    content: ".";
  }
  67%{
    content: "..";
  }
  100%{
    content: "...";
  }
}

.install,.header{
  color: #426696;
	width:100%;
  flex:1;
  margin:auto;
	position: ;
	background: linear-gradient(
		to bottom right,
		rgba(255,255,255,.7),
		rgba(255,255,255,.4)
	);
	border-radius:1em;
	backdrop-filter: blur(2em);
	display: flex;
	border:2px solid black;
}

.header h1{
  margin:auto;
  color:black;
  font-size:7vw;
}

.konten{
  flex:14;
  overflow: hidden;
  position: relative;
 margin-top:5vw;margin-bottom:5vw;
}

.kotak{
  display:flex;
  position: absolute;
  top:0;bottom:0;
  
  transition: 1s;
  -webkit-transition: 1s;
}
.kotak.a{
  left:0vw;right:-200vw;
}
.kotak.b{
  left:-100vw;right:-100vw;
}
.kotak.c{
  left:-200vw;right:0vw;
}

.beranda, .info, .status{
 /* font-family: 'poppins', sans-serif;
  color: #426696;*/
	
	background: linear-gradient(
		to bottom right,
		rgba(255,255,255,.7),
		rgba(255,255,255,.4)
	);
	border-radius:1em;
	backdrop-filter: blur(2em);
	width:100vw;
	top:0;bottom:0;
	margin-right:10vw;
	border:2px solid black;
}

.beranda{
  margin-left:3vw;
}

.beranda hr,.status hr{
  width:90%;
  align-self: center;
}

.situasi hr{
  width:100%;
}

div.status{
  margin-right: 3vw;
}

.footer{
  flex:1;
  text-align: center;
}

.footer input{
 display: none;
}

.footer label{
  display: inline-block;
  width:21vw;
  font-weight: bold;
  font-size: 4vw;
  color:black;
  background: rgba(255,255,255,.5);
	backdrop-filter: blur(2em); 
  padding: 2vw;
  border-top:2px solid black;
  border-bottom:2px solid black;
}

.footer label:nth-child(2){
  border-radius: 1em 0 0 1em;
  border-left:2px solid black;
}
.footer label:last-child{
  border-radius: 0 1em 1em 0;
  border-right:2px solid black;
}

#beranda:checked ~ label:nth-child(2), #info:checked ~ label:nth-child(4), #status:checked ~ label:last-child{
  color:white;
  background: royalblue;
}

.beranda{
  display: flex;
  flex-direction: column;
  position: relative;
}

.beranda > div{
  position: relative;
}

.div1{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:3vw;
}

.div1 img, .install img{
  width:30vw;
  border-radius:1em;
  overflow: hidden;
  border:2px solid black;
}

.div1 p{
  color:black;
  text-align: center;
  font-size: 3vw;
  flex:2;
}

.div2{
  flex:3;
  
}

.div2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.div2 img{
  width:18vw;
  border:2px solid #eee;
}
.poto{
  background: rgba(0,0,0,.8);
  position: fixed;
  top:0;bottom:0;
  left:0;right:0;
  opacity:0;
  -webkit-transform: scale(0);
  display: flex;
  z-index: 1;
}
.poto.a{
  opacity:1;
  -webkit-transform: scale(1);
}
.poto img{
  width:90vw;
  margin: auto;
}
.div2 .poto.a{
  opacity:1;
  -webkit-transform: scale(1);
}
.div3{
  flex:1;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  padding:1vw;
  bottom:0;
}

.div3 p:nth-child(2){
  text-align: center;
  align-self: center;
  font-family: 'poppins', sans-serif;
  font-size: 4vw;
  font-weight: bold;
  margin-bottom:10vw;
  background: rgba(255,255,255,.5);
  color:;
  border-top:2px solid red;
  border-right:2px solid red;
  border-bottom:2px solid royalblue;
  border-left:2px solid royalblue;
  border-radius: 1em;
  padding:2vw 0;
}


.status{
  display:flex;
  flex-direction: column;
}
.status h2{
  text-align: center;
  margin-top:2vw;
}

.kapster{
  flex:1;
  display:flex;
}
.kapster > span{
  flex:1;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.kapster img{
  width:30vw;
/*  margin-bottom:3vw;*/
  border:2px solid black;
}


.libur{
  position: relative;
}
.libur p{
  opacity:0;
  -webkit-transform:scale(0);
  position: absolute;
  top:0;
  width:100%;height:30vw;
  background:rgba(0,0,0,.5);
  display: flex;
}
.libur p:after{
  content:"Libur";
  font-family: 'poppins', sans-serif;
  width:100%;
  margin:0 -2px;
  background: rgba(255,255,255,.8);
  text-align: center;
  margin: auto;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding:1vw 0;
  color:red;
}
.libur.a p{
  opacity:1;
  -webkit-transform:scale(1);
}
.libur ~ p{
  font-family: 'poppins', sans-serif;
}

.status > div:last-child{
  flex:2.5;
  display: flex;
  flex-direction: column;
  padding:2vw;
}

.tanggal{
  text-align: right;
}

.divSituasi{
  margin:auto;
  text-align: center;
  position: relative;
  bottom:15vw;
}

span.situasi{
  display: block;
  font-family: 'poppins', sans-serif;
  font-size: 3vw;
  font-weight: bold;
  background: rgba(255,255,255,.5);
  position: relative;
  overflow: hidden;
  border-top:2px solid red;
  border-right:2px solid red;
  border-bottom:2px solid royalblue;
  border-left:2px solid royalblue;
  border-radius: 1em;
  padding:3vw 2vw;
}
.divSituasi button{
  margin-top: 15vw;
  padding:2vw 4vw;
  background: royalblue;
  color: white;
  border-radius: 1em 1em 1em 1em;
}

.divSituasi button.a:after{
  content:"";
  -webkit-animation: loading 2s ease infinite;
}

#tutup{
  display: none;
}
#tutup.a{
  display: flex;
  position: absolute;
  top:0;bottom:0;
  left:0;right:0;
  background: white;
}
.tutup p{
  margin: auto;
}

.info{
  display:flex;
}
.info img{
  margin:auto;
  width:80%;
}